*{
    margin :0;
    padding:0;
}
body{
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.container {
    width: 600px;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.container div div{
   
    box-sizing: border-box;
    
    
}

.container div {
    display:flex;
    flex-direction: row;
} 

